/* CSS Reset */
body{
    all: unset;
}

* {
    box-sizing: border-box;
    padding: 0;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

header{
    display: flex;
    justify-content: space-between;
}

main{
    display: flex;
    background-color: aqua;
    justify-content: center;
    text-align: center;
    padding: 20px;
    width: 50%;
}

#questions{
    text-decoration: none;
    min-width: 300px;
}

#title{
    justify-content: center;
}

#questions {
    background-color: black;
    color: white;
    padding: 10px;
}

li {
    background-color: navy;
    margin: 5%;
    padding: 5%;
}

@media screen and (max-width: 1183px) {
      
}

@media screen and (max-width: 504px) {
      
}